@import "~@fontsource/fira-sans/index.css";

* {
    font-family: 'Fira Sans', sans-serif;
}

span.ml-1 {
    margin-left: 5px;
}

.title-error {
    margin-top: 5px;

    svg {
        color: #e74c3c;
    }
}

.new-version {
    background: -webkit-linear-gradient(-135deg, #49a4ff 25%, #0074e7 100%);
    box-shadow: 0 10px 16px 0 rgba(0, 116, 231, .2);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    strong,
    a {
        color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {

    html,
    body {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: #ffffff;
        background-color: #333333;
    }
}