button.btn {
    border: solid 2px #0080ff;
    background: -webkit-linear-gradient(-135deg,#49a4ff 25%,#0074e7 100%);
    box-shadow: 0 10px 16px 0 rgba(0,116,231,.2);
    border-radius: 5px;
    padding: .5em;
    user-select: none;
    color: #ffffff;
    outline: none;

    &:disabled {
        opacity: 50%;
        cursor: not-allowed;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            border: solid 2px #80bfff;
            cursor: pointer;
        }
    }
}
