.package {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin: .5em 0;
    background-color: rgba(0, 128, 255, 0.25);
    border-radius: 5px;

    .info {
        span.property {
            display: block;

            @media (prefers-color-scheme: light) {
                span.label {
                    color: rgba(0, 0, 0, .5);
                }
            }
            @media (prefers-color-scheme: dark) {
                span.label {
                    color: rgba(255, 255, 255, .5);
                }
            }
            span.value {
                font-weight: bold;
            }
        }
    }
}